<app-barra-navegacion></app-barra-navegacion>
<div class="container p-2">
  <div *ngIf="cargando; else cargado" class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>
  <ng-template #cargado>
    <div class="row">
      <div
        *ngFor="let habitacion of habitaciones"
        class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3"
      >
        <app-habitacion [habitacion]="habitacion"></app-habitacion>
      </div>
    </div>
  </ng-template>
</div>
