<div class="text-center" style="width: 56px">
  <button
    type="button"
    class="app-floating-btn btn-block"
    [class.bg-warning]="foco.encendido"
    [class.bg-dark]="!foco.encendido"
    (click)="toggleFoco()"
  >
    <i class="fas fa-lightbulb"></i>
  </button>
  <button
    type="button"
    class="btn btn-primary btn-sm btn-block"
    data-bs-toggle="modal"
    [attr.data-bs-target]="'#foco-' + foco.$key"
  >
    RGB
  </button>
</div>
<app-rgb-modal
  [modalId]="'foco-' + foco.$key"
  [foco]="foco"
  #modal
></app-rgb-modal>
